<ul class="tabs tabs-fixed-width tab-demo grey-text z-depth-1">
	<li class="tab"><a href="#books" class="active">Գրքեր</a></li>
	<li class="tab"><a href="#orders">Պատվերներ</a></li>
</ul>

<div id="books" class="col s12">



</div>

<div id="orders">

	<ul class="tabs tabs-fixed-width tab-demo grey-text z-depth-1 nested">
		<li class="tab"><a href="#allOrders" class="active">Բոլորը</a></li>
		<li class="tab"><a href="#newOrders">Նոր</a></li>
		<li class="tab"><a href="#actualOrders">Ընթացիկ</a></li>
		<li class="tab"><a href="#completedOrders">Ավարտված</a></li>
		<li class="tab"><a href="#notReturnedOrders">Չվերադարձված</a></li>
	</ul>

	<div id="allOrders" class="col s12">

		<ul class="collapsible">
			<li>
				<div class="collapsible-header row">
					<p class="col s1">Համարը</p>
					<p class="col s3 center">Վերնագիր</p>
				</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
			<li>
				<div class="collapsible-header">Second</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
		</ul>

	</div>

	<div id="newOrders">
		<ul class="collapsible">
			<li>
				<div class="collapsible-header">First</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
			<li>
				<div class="collapsible-header">Second</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
		</ul>
	</div>

	<div id="actualOrders">
		<ul class="collapsible">
			<li>
				<div class="collapsible-header">First</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
			<li>
				<div class="collapsible-header">Second</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
		</ul>
	</div>

	<div id="completedOrders">
		<ul class="collapsible">
			<li>
				<div class="collapsible-header">First</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
			<li>
				<div class="collapsible-header">Second</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
		</ul>
	</div>

	<div id="notReturnedOrders">
		<ul class="collapsible">
			<li>
				<div class="collapsible-header">First</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
			<li>
				<div class="collapsible-header">Second</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
		</ul>
	</div>

</div>
