<ul class="tabs tabs-fixed-width tab-demo grey-text z-depth-1">
	<li class="tab"><a href="#books" class="active">Գրքեր</a></li>
	<li class="tab"><a href="#orders">Պատվերներ</a></li>
</ul>

<div id="books" class="col s12">



</div>

<div id="orders">

	<ul class="tabs tabs-fixed-width tab-demo grey-text z-depth-1 nested">
		<li class="tab"><a href="#allOrders" class="active">Բոլորը</a></li>
		<li class="tab"><a href="#newOrders">Նոր</a></li>
		<li class="tab"><a href="#actualOrders">Ընթացիկ</a></li>
		<li class="tab"><a href="#completedOrders">Ավարտված</a></li>
		<li class="tab"><a href="#notReturnedOrders">Չվերադարձված</a></li>
	</ul>

	<div id="allOrders" class="col s12">
		<app-orders [type]="['allOrders']"></app-orders>
	</div>

	<div id="newOrders">
		<app-orders [type]="['newOrders']"></app-orders>
	</div>

	<div id="actualOrders">
		<app-orders [type]="['actualOrders']"></app-orders>
	</div>

	<div id="completedOrders">
		<app-orders [type]="['completedOrders']"></app-orders>
	</div>

	<div id="notReturnedOrders">
		<app-orders [type]="['notReturnedOrders']"></app-orders>
	</div>

</div>
