<main>
	<div>
			<div class="row">
				<div class="col s12">
					<h3 class="header center-align">Մուտք</h3>
				</div>
				<form autocomplete="off" class="col s12 center-align"  (submit)="login($event)">
						<div class="input-field col s12">
							<input id="username" type="text" class="validate" name="username" [(ngModel)]="username">
							<label for="username">Օգտանուն</label>
						</div>
						<div class="input-field col s12">
							<input id="password" type="password" class="validate" name="password" [(ngModel)]="password">
							<label for="password">Գաղտնաբառ</label>
						</div>
						<div class="input-field col s12 center-align">
							<button class="waves-effect waves-light btn-large" (click)="login">Մուտք</button>
						</div>
						<p class="col s12 center-align">Դեռ չե՞ք գրանցվել։ Գրանցվե՛ք <a [routerLink]="['../signup']" class="teal-text">այստեղ</a>։</p>
				</form>
			</div>
		</div>
</main>
