nav {
	height: 70px;
}

.nav-wrapper ul {
	line-height: 70px;
}

.brand-logo {
	font-size: 1.5rem;
	height: 70px;
	line-height: 68px;
}

	.brand-logo .first-letter {
		font-family: 'Audiowide', cursive;
		font-size: 3rem;
		color: #ffff00;
	}

nav li a {
	padding: 0px 20px;
	font-size: 1.1rem;
	color: #ffff00;
}

	nav li a:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}

ul.dropdown-content {
	background: #212121;
}

	.dropdown-content li:hover {
		background-color: transparent;
	}
	.dropdown-content li {
		background-color: transparent;
		min-height: 0;
		line-height: 50px;
	}
		.dropdown-content li a {
			height: 50px;
			line-height: 50px;
		}
