<header>
	<nav class="top-nav grey darken-4">
		<div class="container">
			<div class="nav-wrapper">
				<a [routerLink]="['']" class="brand-logo left">
					<span class="first-letter">R</span><span>estart </span>
					<span class="first-letter">L</span><span>ibrary</span>
				</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a [routerLink]="['']">Գլխավոր</a></li>
					<li><a [routerLink]="['books']">Գրքեր</a></li>
					<li><a href="#about">Մեր մասին</a></li>
					<!--<li *ngIf="true; else logout"><a [routerLink]="['login']" style="color:#ffffff; font-weight: 400">Մուտք/Գրանցվել</a></li>-->
					<li><a *ngIf="true; else logout" id="login-trigger" class="dropdown-trigger" data-target="login-dropdown">Մուտք/Գրանցվել<i class="material-icons right">arrow_drop_down</i></a></li>
					<ng-template #logout>
						<li><a [routerLink]="['logout']">Դուրս գալ</a></li>
					</ng-template>
					<li *ngIf="false"><a [routerLink]="['lib_dashboard']">Կառավարում</a></li>
					<li *ngIf="false"><a [routerLink]="['my_orders']">Պատվերներ</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<ul id="login-dropdown" class="dropdown-content">
		<li><a [routerLink]="['login']">Մուտք</a></li>
		<li><a [routerLink]="['signup']">Գրանցվել</a></li>
	</ul>

	<ul class="sidenav hide-on-large-only" id="mobile-demo">
		<li><a [routerLink]="['']">Գլխավոր</a></li>
		<li><a [routerLink]="['books']">Գրքեր</a></li>
		<li><a href="#about">Մեր մասին</a></li>
		<li *ngIf="false"><a [routerLink]="['lib_dashboard']">Կառավարում</a></li>
		<li *ngIf="false"><a [routerLink]="['my_orders']">Պատվերներ</a></li>
		<!--<li *ngIf="true; else logout"><a [routerLink]="['login']" style="color:#ffffff; font-weight: 400">Մուտք/Գրանցվել</a></li>-->
		<li>
			<div class="divider"></div>
			<ul>
				<li><a [routerLink]="['login']">Մուտք</a></li>
				<li><a [routerLink]="['signup']">Գրանցվել</a></li>
			</ul>
			<!--<a *ngIf="true; else logout" id="login-trigger" class="dropdown-trigger" data-target="login-dropdown">Մուտք/Գրանցվել<i class="material-icons right">arrow_drop_down</i></a>-->
		</li>
		<ng-template #logout>
			<li><a [routerLink]="['logout']">Դուրս գալ</a></li>
		</ng-template>

	</ul>
</header>
