<form class="col s12">
	<div class="row" style="margin-bottom: 0px; margin-top: 20px;">
		<div class="col s10 inputs">
			<div class="row">
				<div class="input-field col">
					<input placeholder="Վերնագիր" id="title" type="text" class="validate">
				</div>
				<div class="input-field col">
					<input placeholder="Հեղինակ" id="author" type="text" class="validate">
				</div>
				<div class="input-field col">
					<input placeholder="Հրատարակչություն" id="publisher" type="text" class="validate">
				</div>
				<div class="input-field col">
					<input placeholder="Տարեթիվ" id="date" type="text" class="validate">
				</div>
				<div class="input-field col">
					<select multiple>
						<option value="" disabled>Լեզու</option>
						<option value="1">Հայերեն</option>
						<option value="2">Անգլերեն</option>
						<option value="3">Ռուսերեն</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col s2">
			<div class="row">
				<div class="input-field col s12 center">
					<a class="waves-effect waves-light btn-large right">Բեռնել</a>
				</div>
			</div>
		</div>
		
	</div>
	
</form>
<div class="col s12">

<ul class="header z-depth-4">
	<li class="row">
		<p class="col s1">Համար</p>
		<p class="col s2">Հեղինակ</p>
		<p class="col s2">Վերնագիր</p>
		<p class="col s2">Հրատարակչություն</p>
		<p class="col s1">Լեզու</p>
		<p class="col s2">Տեսակ</p>
		<p class="col s1">Ընդհանուր քանակ</p>
		<p class="col s1">Առկա քանակ</p>
	</li>
</ul>
<ul class="collapsible">
	<li>
		<div class="collapsible-header row">
			<p class="col s1">1</p>
			<p class="col s2">J. K. Rowling</p>
			<p class="col s2">Harry Potter and The Philosopher's Stone</p>
			<p class="col s2">Unknown</p>
			<p class="col s1">Անգլերեն</p>
			<p class="col s2">Գեղարվեստական</p>
			<p class="col s1">4</p>
			<p class="col s1">2</p>
		</div>
		<div class="collapsible-body row">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li>
		<div class="collapsible-header row">
			<p class="col s1">1</p>
			<p class="col s2">J. K. Rowling</p>
			<p class="col s2">Harry Potter and The Philosopher's Stone</p>
			<p class="col s2">Unknown</p>
			<p class="col s1">Անգլերեն</p>
			<p class="col s2">Գեղարվեստական</p>
			<p class="col s1">4</p>
			<p class="col s1">2</p>
		</div>
		<div class="collapsible-body row">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li>
		<div class="collapsible-header row">
			<p class="col s1">1</p>
			<p class="col s2">J. K. Rowling</p>
			<p class="col s2">Harry Potter and The Philosopher's Stone</p>
			<p class="col s2">Unknown</p>
			<p class="col s1">Անգլերեն</p>
			<p class="col s2">Գեղարվեստական</p>
			<p class="col s1">4</p>
			<p class="col s1">2</p>
		</div>
		<div class="collapsible-body row">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
</ul>
</div>
