.inputs .input-field {
	width: 250px;
}

.header {
	margin-bottom: 4px;
}

	.header li {
		font-size: 1.1rem;
		font-weight: 500;
		margin: 0px;
		border: 1px solid #424242;
	}

.collapsible {
	margin-top: 0;
	border: 1px solid #424242;
}

.collapsible li {
	margin: 0px;
}

li p {
	margin: 0px;
	padding: 1rem;
	border-left: 1px solid #757575;
	border-right: 1px solid #757575;
	overflow:scroll;
	white-space: nowrap;
}

.collapsible {
	max-height: 600px;
	overflow-y: scroll;
}
.collapsible-header.row {
	padding: 0px;
	margin: 0px;
}
div.collapsible-body.row{
	margin-bottom:0px;
}
