<form class="col s12">
	<div class="row" style="margin-bottom: 0px; margin-top: 20px;">
		<div class="col s9 inputs">
			<div class="row">
				<div class="input-field col">
					<input placeholder="Վերնագիր" name="title" type="text" [(ngModel)]="filter.title">
				</div>
				<div class="input-field col">
					<input placeholder="Հեղինակ" name="author" type="text" [(ngModel)]="filter.author">
				</div>
				<div class="input-field col">
					<input placeholder="Հրատարակչություն" name="publisher" type="text"[(ngModel)]="filter.publisher">
				</div>
				<div class="input-field col">
					<input placeholder="Տարեթիվ" name="date" type="text" [(ngModel)]="filter.published">
				</div>
				<div class="input-field col">
					<select name="language" multiple [(ngModel)]="filter.language">
						<option value="" disabled>Լեզու</option>
						<option value="1">Հայերեն</option>
						<option value="2">Անգլերեն</option>
						<option value="3">Ռուսերեն</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col s3">
			<div class="row">
				<div class="input-field col s12 right">
					<a class="waves-effect waves-light btn-large right" (click)="getBooks()">Բեռնել</a>
					<a class="waves-effect waves-light btn-large right" (click)="newBook()">Նորը</a>
				</div>
			</div>
		</div>
		
	</div>
	
</form>
<div class="col s12">

<ul class="header z-depth-4">
	<li class="row">
		<p class="col s1">Համար</p>
		<p class="col s2">Հեղինակ</p>
		<p class="col s2">Վերնագիր</p>
		<p class="col s2">Հրատարակչություն</p>
		<p class="col s1">Լեզու</p>
		<p class="col s2">Տեսակ</p>
		<p class="col s1">Ընդհանուր քանակ</p>
		<p class="col s1">Առկա քանակ</p>
	</li>
</ul>
<ul class="collapsible">
	<li *ngFor="let book of books; let index=index; let odd=odd; let even=even;">
		<div class="collapsible-header row">
			<p class="col s1">{{book.id}}</p>
			<p class="col s2">{{book.author}}</p>
			<p class="col s2">{{book.title}}</p>
			<p class="col s2">{{book.publisher}}</p>
			<p class="col s1">{{book.language}}</p>
			<p class="col s2">{{book.type}}</p>
			<p class="col s1">{{book.totalCount}}</p>
			<p class="col s1">{{book.availableCount}}</p>
		</div>
		<div class="collapsible-body row">
			<div class="col s12">
				<a class="waves-effect waves-light btn-large">Խմբագրել</a>
			</div>
		</div>
	</li>
</ul>
</div>
