<div class="menu-bar grey darken-4">
	<ul>
		<li><button (click)="addBook()">Նորը</button></li>
		<li><button [disabled]="selectedBook == null" (click)="editBook()">Խմբագրել</button></li>
		<li><button [disabled]="selectedBook == null" (click)="deleteBook()">Ջնջել</button></li>
		<li class="right hide-on-small-only"><button class="filter-toggle">Ֆիլտր<i class="small material-icons">keyboard_arrow_down</i></button></li>
	</ul>
</div>

<div class="filter-bar closed">
	<form autocomplete="off" class="row">
		<div class="col s12 m6 l4 xl3">
			<input placeholder="Վերնագիր" name="title" type="text" [(ngModel)]="filter.title">
			<input placeholder="Հեղինակ" name="author" type="text" [(ngModel)]="filter.author">
		</div>
		<div class="col s12 m6 l4 xl3">

			<input placeholder="Հրատարակչություն" name="publisher" type="text" [(ngModel)]="filter.publisher">
			<input placeholder="Տարեթիվ" name="date" type="text" [(ngModel)]="filter.published">
		</div>

		<div class="col s12 m6 l4 xl3">

			<button class="btn" (click)="loadBooks()">Բեռնել</button>
		</div>
	</form>
	<div *ngIf="loading">

		<div  class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	</div>
</div>

<div class="grid">
	<table>
		<thead>
			<tr>
				<th>Համար</th>
				<th>Վերնագիր</th>
				<th>Հեղինակ</th>
				<th>Հրատարակչություն</th>
				<th>Տարեթիվ</th>
				<th>Լեզու</th>
				<th>Տեսակ</th>
				<th>Ընդհանուր քանակ</th>
				<th>Առկա քանակ</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let book of books; let index=index; let odd=odd; let even=even;" (click)="select(book)">
				<td>{{book.id}}</td>
				<td>{{book.title}}</td>
				<td>{{book.author}}</td>
				<td>{{book.publisher}}</td>
				<td>{{book.published}}</td>
				<td>{{book.language}}</td>
				<td>{{book.type}}</td>
				<td>{{book.totalCount}}</td>
				<td>{{book.availableCount}}</td>
			</tr>
		</tbody>
	</table>
</div>
