<ul class="header z-depth-4">
	<li class="row">
		<p class="col s3">Համար</p>
		<p class="col s3">Պատվիրող</p>
		<p class="col s3">Գիրք</p>
		<p class="col s3">Կարգավիճակ</p>
	</li>
</ul>

<ul class="collapsible">
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
	<li class="row">
		<div class="collapsible-header">1</div>
		<div class="collapsible-body">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
	</li>
</ul>
