<main>

	<div>
		<div class="row">
			<div class="col s12">
				<div class="col s12">
					<h3 class="header center-align">Գրանցում</h3>
				</div>

				<form class="col s12">
					<div *ngIf="state1">

						<div class="input-field col s12">
							<input id="first_name" type="text" class="validate">
							<label for="first_name">Անուն</label>
						</div>
						<div class="input-field col s12">
							<input id="last_name" type="text" class="validate">
							<label for="last_name">Ազգանուն</label>
						</div>
						<div class="input-field col s12">
							<input id="middle_name" type="text" class="validate">
							<label for="middle_name">Հայրանուն</label>
						</div>
						<div class="col s12">
							<a class="right white-text btn-large" (click)="toState2()">
								<i class="material-icons">
									arrow_forward
								</i>
							</a>
						</div>
					</div>
					<div *ngIf="state2">
						<div class="input-field col s12">
							<input type="text" class="datepicker">
							<label for="birthdate">Ծննդյան ամսաթիվ</label>
						</div>
						<div class="input-field col s12">
							<input id="mail" type="email" class="validate">
							<label for="mail">Էլ․ հասցե</label>
						</div>
						<div class="input-field col s12">
							<input id="phone" type="text" class="validate">
							<label for="phone">Հեռախոսահամար</label>
						</div>
						<div class="col s12">
							<a class="left white-text btn-large"  (click)="toState1()">
								<i class="material-icons">
									arrow_back
								</i>
							</a>
							<a class="right white-text btn-large" (click)="toState3()">
								<i class="material-icons">
									arrow_forward
								</i>
							</a>
						</div>
					</div>

					<div *ngIf="state3">
						<div class="input-field col s12">
							<input id="username" type="text" class="validate">
							<label for="username">Օգտանուն</label>
						</div>
						<div class="input-field col s12">
							<input id="password" type="password" class="validate">
							<label for="password">Գաղտնաբառ</label>
						</div>
						<div class="input-field col s12">
							<input id="repeat_password" type="password" class="validate">
							<label for="repeat_password">Կրկնե՛ք գաղտնաբառը</label>
						</div>

						<div class="input-field col s12">
							<a class="left white-text btn-large">
								<i class="material-icons">
									arrow_back
								</i>
							</a>
							<a class="waves-effect waves-light btn-large right">Գրանցվել</a>
						</div>
					</div>


				</form>
				<p class="col s12 center-align">Արդեն գրանցվե՞լ եք։ <a [routerLink]="['../login']" class="teal-text">Մուտք</a>։</p>
			</div>
		</div>
	</div>
</main>

